= javascript_include_tag "//www.rdio.com/api/api.js?helper=../helper&client_id=1CnHUyjP-7UUzFqoc0qsNQ"
%script(src="../rdioscripts.js")

%h1.playlist-name= @playlist.name
#playlistKey= @playlist.rdio_key
#userKey= current_user.rdio_key

%p.instructions
  Have your friends text the access code to
  %b 978-278-3217
  to begin adding songs.

.center
  .access_code
    - if @playlist.access_code
      .pull-left
        .action
          = link_to generate_access_code_path do
            %i.icon-refresh
      .message
        = @playlist.access_code
      .pull-right
        .action
          = link_to expire_access_code_path do
            %i.icon-trash
    - else
      .generate-access.message
        = link_to "Click to generate access code", generate_access_code_path

#startPrompt
  #start.center.btn.btn-success.btn-block Start Playlist

#rdioPlayer
  #playbackControls
    #previous.btn.btn-inverse= image_tag "previous.png"
    #play.btn.btn-inverse= image_tag "play.png"
    #pause.btn.btn-inverse= image_tag "pause.png"
    #next.btn.btn-inverse= image_tag "next.png"

  #songInfo
    %img#art
    %b Track:
    #track
    %b Artist:
    #artist

  #positionContainer
    #position
      &nbsp;
