!!! 5
%html
  %head
    %title Whirlpool
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "jquery.rdio.js"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to "Whirlpool", root_path, class: "brand"
    .container-fluid
      .row-fluid
        .span-12
          .main
            = yield
