!!! 5
%html
  %head
    %title Wavepool
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'
    = javascript_include_tag 'bootstrap-dropdown'
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %link{:href => "/wpAppIcon.jpg", :rel => "apple-touch-icon"}

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          .brand= image_tag "wpLogo.jpg"
          = link_to "Wavepool", root_path, class: "brand"
          .pull-right
            %ul.nav
              - if current_user
                %li.divider-vertical
                %li= link_to "Logout", logout_path

    .container-fluid
      .row-fluid
        .span-12
          .main
            = yield
